name: CIFuzz
on:
  push:
    branches:
      - master
  
      
  pull_request:
    branches:
      - master
    
jobs:
 Fuzzing:
   runs-on: ubuntu-latest
   
   strategy:
        fail-fast: false
        matrix:
            sanitizer: 
              - address
            engine:
              - afl
            architecture:
              - x86_64
            include:
              - engine: afl
                sanitizer: address
                architecture: x86_64
                
   env:
      ENGINE: ${{ matrix.engine }}
      SANITIZER: ${{ matrix.sanitizer }}
      ARCHITECTURE: ${{ matrix.architecture }}
      
   steps:
   - name: Build Fuzzers
     id: build
     uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master
     with:
       oss-fuzz-project-name: 'postfix'
       language: c
   - name: Run Fuzzers
     uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@master
     with:
       oss-fuzz-project-name: 'postfix'
       language: c
       fuzz-seconds: 600
   - name: Upload Crash
     uses: actions/upload-artifact@v1
     if: failure() && steps.build.outcome == 'success'
     with:
       name: artifacts
       path: ./out/artifacts
       
